@import 'ember-paper';

.splash-outer--container {
  background:
        url("https://images.unsplash.com/photo-1444723121867-7a241cacace9?dpr=2&auto=format&crop=entropy&fit=crop&w=1080&h=720&q=80&cs=tinysrgb") no-repeat fixed center;
        -webkit-background-size: cover;
        -moz-background-size: center cover;
        background-size: cover;
        background-position: center top;
  color: #fff;
  padding-top: 25vh;
  padding-bottom: 25vh;
  height: 100%;
}

body > .ember-view {
  min-height: 100%;
  height: 100%;
}

body { /* ...or body.dialogShowing */
  overflow: hidden;
}

.splash-inner--container {
  max-width: 624px;
  margin: auto;

  md-content {
    background: none;
  }
}

.md-input-container.md-default-theme.md-focused {
  color: white;
}

label {
    color: white !important;
}

.splash-outer--container {
  md-content {
    background: none;
  }

  span {
    color: white !important;
  }
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  border-color: white;
  color: white;
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.splash-outer--container md-content.md-default-theme {
    color: white;
    background-color: transparent;
    text-align: center;
}

md-list-item.md-no-proxy, md-list-item .md-no-style {
  padding: 0px 16px;
  margin-top: 8px;
  margin-left: -16px;
}

.guest-list--container {
  position: fixed;
  height: 100%;
  width: 100%;
}

tbody {
    display:block;
    max-height: 100vh;
    overflow-y: auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
table {
    width:100%;
}

.mdl-data-table__cell--non-numeric.checkbox {
  width: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

mdl-data-table.checkbox {
    padding-left: 30px !important;
}

table md-checkbox {
    margin: 0;
    width: 20px;
}

.guest-list--container md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    color: #1e88e5;
    font-size: 16px;
    background-color: #e3f2fd;
}

.guest-list--container .md-toolbar-tools {
  font-size: 16px;
  padding: 0 25px;
}

.guest-list--container md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon, md-toolbar:not(.md-menu-toolbar) md-icon {
  color: rgba(0,0,0,.54);
}

.guest-list--container md-autocomplete input:not(.md-input) {
  padding: 0 25px;
}

th.mdl-data-table__cell--non-numeric.active {
  color: rgba(0,0,0,.87);
}

table.md-table {
  color: rgba(0,0,0,.54);
}

.guest-list--container {
  md-autocomplete {
    height: 64px;
  }
  md-autocomplete md-autocomplete-wrap {
    height: 64px;
  }
  md-autocomplete input:not(.md-input) {
    height: 64px;
  }
  .md-button.md-icon-button {
    height: 64px;
  }

  button.paper-button {
    width: 40px !important;
    height: 40px !important;
  }

  .md-ripple-container {
    width: 40px !important;
    height: 40px !important;
  }

}
